@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #0048a7, #205caa, #2a548b);
    height: 100vh;
}

.container {
    color: white;
    padding: 20px 20px;
}

#btnmsg {
    background: rgba(36, 36, 36, 0.603);
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 20px;

    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    transition: .3s;
    &:hover {
        background: #3d669c6b;
        transform: scale(1.2);
    }
}

/*! MARKERS !*/

.oculto {
    visibility: hidden;
    transition: all .5s;
}

.active {
    visibility: visible;
    transition: all .5s;
}


/** ERROR **/

.error {
    background: rgb(255, 80, 80);
    
    height: 5%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
    font-size: 26px;
    position: absolute;
    top: 10px;
    left: 10px; 
}

/** CORRECT **/

.success {
    background: green;
    height: 5%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
    font-size: 26px;
    position: absolute;
    top: 10px;
    left: 10px;
}